body {
  width: 100%;
  margin: 0 auto;
  height: 100vh;
  background-image: url("../images/owari1-.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.caixa {
  border: none;
}

.foto {
  height: 200px;
  margin: 0 auto;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}

.titulo {
  text-align: center;
  color: rgba(255, 0, 0, 0.85);
}

label,
input,
button {
  margin: 0 auto;
  display: block;
}

label {
  text-align: center;
  color: rgba(255, 0, 0, 0.85);
  font-size: 20px;
}

button {
  margin: 0 auto;
  padding: 10px 15px;
  margin-top: 8px;
  border-radius: 23px;
  border: 1px solid #000;
  cursor: pointer;
  background: lightgrey;
  transition: 0.5s;
}

button:hover {
  background: rgb(52, 213, 12);
  color: rgb(255, 255, 255);
}

.sexo {
  display: flex;
  flex-wrap: wrap;
  justify-content: baseline;
  flex-direction: row;
  align-items: center;
  width: 200px;
  margin: 0 auto;
}

.sexo label {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.sexo label input {
  margin-left: 5px;
}

.main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-basis: 33%;
}

.supImf {
  text-align: center;
}
.anime3 {
  width: 330px;
}

input {
  padding: 5%;
}
